{% extends 'products/base.html' %}
{% load static %}
{% block dropdown %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">All</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Vodka</a>
          <a class="dropdown-item" href="#">Whiskey</a>
          <a class="dropdown-item" href="#">Rum</a>
        </div>
      </li>
{% endblock %}
{% block search_bar %}
<form class="form-inline my-2 my-lg-0" method="GET" action="url">
	{% csrf_token %}
	<input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
{% endblock %}
{% block content %}
<div class="container-fluid bg-light-gray">
    <div class="container pt-5">
        <div class="row">
            <h3>All Elixirs</h3>
        </div>
    </div>
    
    
    <div class="container mt-5">
        <div class="row">
            {% for product in products %}
                <div class ="col-lg-3 col-md-4 col-sm-1" , id="card-col" >
                    <a href="{% url 'single-product' product.id %}"><div class="card">
                        <img src="{{ product.image.url }}" class="card-img-top">
                        <div class="card-body">
                            <h5>{{ product.name }}</h5>
                            <h7>starts from {{ product.get_product_price_small }}&#8377</h7>
                            <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</button>
                        </div>
                    </div></a>
                </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
{% endblock %}