{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'products/css/bootstrap4.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'products/css/style.css' %}">
<title>Ecommerce Website</title>
</head>

<body>
<div class="container-fluid bg-black" id="optionbar">
	<nav class="container navbar navbar-expand-lg navbar-dark bg-black">
	<a class="navbar-brand" href="{% url 'home' %}">ELIXIR</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    	<li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
    	</li>
    	<li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About Us</a>
    	</li>
    	<li class="nav-item">
        <a class="nav-link " href="{% url 'contact' %}">Contact Us</a>
		</li>
		{% if not user.is_authenticated %}
    	<li class="nav-item">
		<a class="nav-link " href="{% url 'signup' %}">Sign Up!</a>
		</li>
		<li class="nav-item">
		<div class="nav-link">|</div>
		</li>
		<li class="nav-item">
		<a class="nav-link " href="{% url 'login' %}">Log in</a>
		</li>
		{% else %}
		<li class="nav-item">
		<a class="nav-link " href="{% url 'detailuser' user.id %}">{{request.user.username}}</a>
		</li>
		{% endif %}
    	{% block dropdown %}
    	{% endblock %}
    </ul>
    {% block search_bar %}
	{% endblock %}
	<li class="nav-item">
        <a class="nav-link "  href="{% url 'mycart' %}"><i class="fa fa-cart-plus" aria-hidden="true"></i>My Cart</a>
	</li>
	</div>
</nav>
</div>
<div id="arrange">
  just to arrange
</div>
{% block content %}
{% endblock %}
{% block js %}
{% endblock %}

</body>
<div id="bottom-bar">
	<div id="wrap-element">
		<p id="ownership">Made By Rishav Chatterjee</p>
	</div>
</div>
</html>