{% extends "products/base.html" %}
{% load static %}
{% block content %}
<div class="mt-5 pt-4">
    <div class="container dark-grey-text">

        <!--Grid row-->
        <div class="row wow fadeIn">
            <div class="container">
                <div class="row">
                    <h3 style="margin-left: 15px;" >{{product.name}}</h3>
                </div>
            </div>

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <img src="{{ product.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

            <!--Content-->
            <div class="p-4">

            <div class="mb-3">
                <a href="{% url 'category_specific' product.category.id %}">
                <span class="badge_category">{{product.category}}</span>
                </a>
                <!-- <a href="">
                <span class="badge">{{product.discount}}</span>
                </a> -->
            </div>

            <p class="lead">
                <!-- <span class="mr-1"> -->
                <p><span>Rating- {{average_rating}} out of 5.0</span></p>
                <span>Buy for</span>
                <p><span></span><del>&#8377 {{product.original_price }}</del>
                &#8377 {{product.discounted_price}}</span></p>
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{product.description}}</p>
            <!-- <form action="url" method="GET">
                {% csrf_token %}
                {% for size in sizes %}
                <label class="radio-inline">
                    <input type="radio" name="optsize" >{{size}}
                </label>
                {% endfor %}
                <select class="browser-default custom-select" style="margin-bottom: 10px;">
                    <option selected>Choose Bottle Size</option>
                    {% for size in sizes %}
                        <option >{{size}}</option>
                    {% endfor %}
                </select>
            </form> -->

            <form class="d-flex justify-content-left" action="{% url 'add-to-cart' product.id %}" method="GET">
                <input type="number" value="1" name="qty"  aria-label="Search" class="form-control" style="width: 100px">
                <a href="{% url 'add-to-cart' product.id %}"><button class="btn btn-primary btn-md my-0 p" type="submit" style="margin-left: 10px;">Add to cart
                <i class="fa fa-cart-plus"></i>
                </button></a>
            </form>

            </div>
            <!--Content-->

        </div>
        <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="product-reviews">
                    {% for rs in comments|slice:":4" %}
                        <div class="single-review">
                            <div class="review-heading">
                                <div><a href="#"><i class="fa fa-user-o"></i> {{ rs.user.first_name }}</a> </div>
                                <div><b>{{ rs.subject }}</b> </div>
                                <div><a href="#"><i class="fa fa-clock-o"></i> {{ rs.create_at}}</a></div>

                                <div class="review-rating pull-right">
                                    <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                    <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>

                                </div>

                            </div>
                            <div class="review-body">
                                <p>{{ rs.comment }}</p>
                            </div>
                        </div>
                    {% endfor %}



                    <ul class="reviews-pages">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                    </ul>
                </div>
            </div>
        <div class="col-md-6">
            <h4 class="text-uppercase">Write Your Review</h4>
            <form class="review-form" action="{% url 'addcomment' product.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input name="subject" class="input" type="text" placeholder="Your subject" />
                </div>

                <div class="form-group">
                    <textarea name="comment" class="input" placeholder="Your review"></textarea>
                </div>
                <div class="form-group">
                    <div class="input-rating">
                        <strong class="text-uppercase">Your Rating: </strong>
                        <div class="stars">
                            <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                            <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                            <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                            <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                            <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                        </div>
                    </div>
                </div>
                {% if user.id is not None %}
                    <button class="primary-btn">Submit</button>
                {% else %}
                    You must be logged in to post a review
                {% endif %}
            </form>

        </div>
        </div>
        <hr>
        <div class="container pt-5">
            <div class="row">
                <h3>Similar Products</h3>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                {% for product in same_category_products|slice:":4" %}
                    <div class ="col-lg-3 col-md-4 col-sm-1" , id="card-col" >
                        <a href="{% url 'single-product' product.id %}"><div class="card">
                            <img src="{{ product.image.url }}" class="card-img-top">
                            <div class="card-body">
                                <h5>{{ product.name }}</h5>
                                <h6>{{product.category}}</h6>
                                <p><span></span><del>&#8377 {{product.original_price }}</del>
                                &#8377 {{product.discounted_price}}</span></p>
                            </div>
                        </div></a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <hr>
        <div class="container pt-5">
            <div class="row">
                <h3>Other tastes You can try</h3>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                {% for product in diff_category_products|slice:":4" %}
                    <div class ="col-lg-3 col-md-4 col-sm-1" , id="card-col" >
                        <a href="{% url 'single-product' product.id %}"><div class="card">
                            <img src="{{ product.image.url }}" class="card-img-top">
                            <div class="card-body">
                                <h5>{{ product.name }}</h5>
                                <h6>{{product.category}}</h6>
                                <p><span></span><del>&#8377 {{product.original_price }}</del>
                                &#8377 {{product.discounted_price}}</span></p>
                            </div>
                        </div></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}