{% extends "products/base.html"%}
{% load static %}
{% block dropdown %}
<li class="nav-item">
	<a class="nav-link" href="{% url 'logout' %}">Logout</a>
</li>
{% endblock %}
{% block content%}
<div id="profile_head" style="background-image: url({% static 'products/images/bg_5.jpg' %});">
	<div id="profile_details">
		<h2 style="color: white;">{{user.first_name}} {{user.last_name}}</h2>
		<h3 style="color: white;">{{user.email}}</h3>
		<h4 style="color: white;">{{user.username}}</h4>
		<h5 style="color: white;">{{user.contact_no}}</h5>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="profile-card">
				<a href="{% url 'updateuser' user.id %}"><div class="profile-card-body">Update Details</div></a>
			</div>
			<div class="profile-card">
				<div class="profile-card-body">Orders</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12">
			<div class="profile-card">
				<a href="{% url 'password_change' %}"><div class="profile-card-body">Change Password</div></a>
			</div>
			<div class="profile-card">
				<a href="{% url 'deleteuser' user.id %}"><div class="profile-card-body">Delete Account</div></a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
